.auth-page {
  min-height: 100vh;
  display: grid;
  place-items: center;
  padding: 30px 15px;
  background: $soft-bg;

  .auth-card {
    width: min(500px, 100%);
    padding: 30px;
    @include card;
  }
}
